<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Backup Server Port</key>
	<string>10000</string>
	<key>Backup ServerIP</key>
	<string>129.133.1.150</string>
	<key>First Name</key>
	<string>Information</string>
	<key>Last Name</key>
	<string>Technology Services</string>
	<key>NSEncoding</key>
	<string>30</string>
	<key>NSEncoding2</key>
	<string>NSUnicodeStringEncoding</string>
	<key>Organization</key>
	<string>Wesleyan University</string>
	<key>PreferenceLocation</key>
	<string></string>
	<key>Primary Server Port</key>
	<string>10000</string>
	<key>Primary ServerIP</key>
	<string>129.133.1.145</string>
	<key>Serial Number</key>
	<string>XU458440820</string>
	<key>Site License</key>
	<string>YES</string>
	<key>Upgrade Serial Number</key>
	<string></string>
	<key>Validation Code</key>
	<string>9K92NUA3G58TFTRYXUH2P2SMUKDDXKM8MDYMHBJ9KRNE64U</string>
</dict>
</plist>
