<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
    <name replace-wildcards="yes">cmdr client on %h</name>
    <service protocol="ipv4">
        <type>_cmdr._tcp</type>
        <port>10000</port>
    </service>
</service-group>
