<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background</key>
	<dict>
		<key>default</key>
		<dict>
			<key>ImageFilePath</key>
			<string>/var/generated_files/background.jpg</string>
		</dict>
	</dict>
</dict>
</plist>