<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChemDraw Plugin Pro 12.0:Expiration Date</key>
	<integer>-1335623613</integer>
	<key>ChemDraw Plugin Pro 12.0:Organization</key>
	<data>
	V2VzbGV5YW4gVW5pdmVyc2l0eQ==
	</data>
	<key>ChemDraw Plugin Pro 12.0:Organization CFString</key>
	<string>Wesleyan University</string>
	<key>ChemDraw Plugin Pro 12.0:Serial Number String</key>
	<data>
	NzUyMjc4OA==
	</data>
	<key>ChemDraw Plugin Pro 12.0:User Name</key>
	<data>
	SVRT
	</data>
	<key>ChemDraw Plugin Pro 12.0:User Name CFString</key>
	<string>ITS</string>
	<key>ChemDraw Pro 12.0:Expiration Date</key>
	<integer>1218508935</integer>
	<key>ChemDraw Pro 12.0:Organization</key>
	<data>
	V2VzbGV5YW4gVW5pdmVyc2l0eQ==
	</data>
	<key>ChemDraw Pro 12.0:Organization CFString</key>
	<string>Wesleyan University</string>
	<key>ChemDraw Pro 12.0:Serial Number String</key>
	<data>
	NzUyMjc4OA==
	</data>
	<key>ChemDraw Pro 12.0:User Name</key>
	<data>
	SVRT
	</data>
	<key>ChemDraw Pro 12.0:User Name CFString</key>
	<string>ITS</string>
</dict>
</plist>
